*{padding:0;margin:0}
.clear{clear: both;}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    font-family: inherit;
    font-weight: 500;
    line-height: 1.2;
    color: inherit;
}

.chatMainPage{
    margin-top: 1px;
}
.el-row{width:100%}
/*主板布局 左 右侧*/
.chatBg{background: #fff;border: solid 1px #e6e6e6;overflow: hidden;}
.chatLeft{height:100%;margin-left: 4px;overflow:auto;}
.chatLeft .el-tabs__nav,.chatRight .el-tabs__nav {
    margin-left: 20px;
}

.chatRight{
    height: 100%;
    overflow: scroll;
    overflow: scroll!important;
}
.onlineUsers {
    padding: 4px;
    height: 40px;
    line-height: 40px;
    font-size: 14px;
    border-bottom: solid 1px #e6e6e6;
}
.onlineUsers a{
    color: #333;
}

.onlineUsers:hover,.onlineUsers.cur{background-color: #f0f9eb;color: #67C23A;}
.imgGray {-webkit-filter: grayscale(100%);-ms-filter: grayscale(100%);filter: grayscale(100%);filter: gray;color:#888;}
.hasLastMsg{line-height: normal;}
.lastNewMsg{font-size: 12px;color: #7f7f7f;margin-top: 4px;overflow: hidden;height: 16px;}
.onlineUsersitem{
    color: #ff0505; 
}
 
/*中间区域客服聊天*/
.chatBgContext{position: relative;height: 100%;width: 100%;}
.chatBgContext .el-row{margin-bottom: 5px;}
.iconBtnsBox{
    position: relative;
    margin-top: 4px;
}
.kefuMainBg{background: #f5f5f5;border: solid 1px #e6e6e6;boder-top:none;}
.kefuFuncBtns{background:#fff;margin: 2px 0px;color: #7f7f7f;border-bottom: 1px solid #e6e6e6;font-size: 12px;padding: 5px 0px;}

.kefuFuncBox{
    position: absolute;
    /* bottom: 0px; */
    width: 100%;
    padding-bottom: 10px;
    border: 1px solid #000;
    background: #FFF;
}

  /*中间区域标题 与谁聊天*/
 .chatTitle{height: 30px;line-height: 30px;color: #1989fa}
 .chatTime{text-align: center;color: #bbb;margin: 5px 0;font-size: 12px;}
 .chatTime span{display: inline-block;padding: 2px 5px;background: rgb(218,218,218);color: #fff;}
  

.chatBox .el-col{margin:10px 0;} 
.chatBox{width: 100%;height:calc(100% - 175px);;overflow-y: auto;overflow-x: hidden; background: rgb(245,245,245);}

.chatUser{
    line-height: 24px;
    font-size: 12px;
    white-space: nowrap;
    color: #999;
    text-align: left;
    margin-top: -15px;
}

.chatContent{
    background-color: rgb(255,255,255);
    color: #000;
    border: 1px solid rgb(237,237,237);
    padding: 8px 15px;
    word-break: break-all;
    position: relative;
    border-radius: 5px;
    display: inline-block;
    line-height: 21px;
    font-size: 14px;
}

.chatContent:before,.chatContent:after {
    content: "";
    display: block;
    position: absolute;
    width:0;
    height: 0;
    border: 6px solid transparent;
    border-right-color: rgba(255,255,255,1);
    left: -11px;
    top: 10px;
    z-index:1;
}
.chatContent:after {
    left: -12px;
    border-right-color: rgb(237,237,237);
    z-index:0;
}

.chatBoxMe .chatContent{float: right;background-color: rgb(152,225,101);border: 1px solid rgb(145, 215, 96);}
.chatBoxMe .chatContent:after{border-left-color: rgba(152,225,101,1);border-right:none;left:auto;right: -5px;}
.chatBoxMe .chatContent:before{border-left-color: rgb(152,225,101);border-right:none;right: -5px;left: auto;}
.chatBoxMe .el-col-3{float: right;text-align: right;}
.chatBoxMe .chatUser{text-align: right}  


/*中间区域底部 输入*/
.chatArea{float: left;width: 85%;margin: 4px 0 0 4px;}
.chatArea .el-textarea__inner{padding: 1px 5px}
@media screen and (max-width: 500px) {
    body{background: #fff}
    .chatCenter{border: none;box-shadow:none;margin-top: 0px;}
    .chatArea {width: 70%;}
    .btnArea{width: 20%;}
}

.iconBtnsBox {margin-right: 4px;float: right;} 
